{% extends "parts/base.html" %}
{% load staticfiles %}

{% block content %}

<div id="react_app">
    загрузка...
    <!--<div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                {% if perms.Profiles.users_add %}
                <div class="mb-12">
                    <a class="btn btn-outline-primary" href="#">тут будет фильтр</a>
                </div>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Клиент</th>
                        <th>Фамилия Имя</th>
                        <th>Адрес</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for device in devices %}
                        <tr>
                            <td>{{ device.id }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>-->
</div>
    <script>
        global_monitoring_update_period = 1000 * {{ settings.monitoring_update_period }};
    </script>
    <script src="{% static 'monitoring.js' %}"></script>

{% endblock content %}