Click==7.0
colorzero==1.1
Flask==1.0.2
-e git+https://github.com/alfash/focusPro.git@87ecdff97c3ab747ffaa8a627c60418e083f5ec9#egg=focus&subdirectory=dev
gpiozero==1.5.0
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
paho-mqtt==1.4.0
pkg-resources==0.0.0
ply==3.11
pyasn1==0.4.6
pycryptodomex==3.8.2
pysmi==0.3.4
pysnmp==4.4.11
PyYAML==3.13
RPi.GPIO==0.6.5
Werkzeug==0.14.1
