[Unit]
Description=Gunicorn instance to serve focusPro
Requires=focus.socket
After=network.target

[Service]
PIDFile=/run/focus/pid
User=pi
Group=www-data
RuntimeDirectory=focus
WorkingDirectory=/home/pi/focusPro/dev/focus
Environment="PATH=/home/pi/focusPro/dev/venv/bin"
ExecStart=/home/pi/focusPro/dev/venv/bin/gunicorn --workers 1 --pid /run/focus/pid --bind unix:/run/focus/socket -m 007 front:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
