{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="{% static 'focus/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'focus/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <h4 class="row justify-content-center c-grey-900 mT-20 mB-30">
        {{ page.title }}
      </h4>

      {% block content %}{% endblock content %}

    </div>
    <script src="{% static 'focus/js/jquery.js' %}"></script>
    <script src="{% static 'focus/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'focus/js/pretty-json-min.js' %}"></script>
  </body>
</html>
