{% extends "focus/base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="reactApp">
    Загрузка...
  </div>

  <script>
    let updateInterval = 1000 * {{ settings.monitoring_update_interval }};
  </script>
  {% comment %} <script type="text/javascript" src="{% static 'monitoring/js/app.14ca215c.js' %}"></script>
  <script type="text/javascript" src="{% static 'monitoring/js/runtime.d956614e.js' %}"></script>
  <script type="text/javascript" src="{% static 'monitoring/js/vendor.5412413a.js' %}"></script> {% endcomment %}
  <script type="text/javascript" src="{% static 'monitoring/js/monitoring.js' %}"></script>
{% endblock content %}
