<!DOCTYPE html>
<html lang="utf8">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="favicon.ico" rel="shortcut icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    {% if title %}
    <title>{{ title }} | FocusPro</title>
    {% else %}
    <title>FocusPro. Обслуживание</title>
    {% endif %}
    
  </head>

  <body>
    <header class="header clearfix">
      <div class="logo">
        <code>{{ device.id }}</code>
      </div>
      <nav class="menu">
        <ul class="menu menu__list">
          <li class="menu menu__item active">
            <a class="menu menu__link active" href="{{ url_for('index') }}">
              На главную
            </a>
          </li>
          <li class="menu menu__item">
            <a class="menu menu__link" href="{{ url_for('management') }}">
              Управление
            </a>
          </li>
          <li class="menu menu__item">
            <a class="menu menu__link" href="{{ url_for('log') }}">
              Журнал
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">

      {% block main_content %}{% endblock %}

    </div>
  </body>
</html>
