{% extends "base.html" %}

{% block main_content %}
  <article class="article clearfix">
    <div class="col_100">
      <h1>Сведения</h1>

      {% if device %}
        <p>{{ device.description }}</p>
      {% endif %}

    </div>

    {% if inputs %}
      <div class="col_33">
        <h2>Входные рецепторы</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Состояние</th>
          </tr>

          {% for unit in inputs %}
            <tr>
              <td>
                <code>{{ inputs[unit].id }}</code>
              </td>
              <td>{{ inputs[unit].description }}</td>

              {% if inputs[unit].state %}
                <td>ВКЛ</td>
              {% else %}
                <td>ОТКЛ</td>
              {% endif %}

            </tr>
          {% endfor %}

        </table>
      </div>
    {% endif %}

    {% if couts %}
      <div class="col_33">
        <h2>Outs</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Выход под контролем</th>
            <th>Состояние выхода</th>
          </tr>

          {% for unit in couts %}
            {% if unit.startswith('out') %}
              <tr>
                <td>
                  <code>{{ couts[unit].id }}</code>
                </td>
                <td>{{ couts[unit].description }}</td>

                {% if couts[unit].state %}
                  <td>Да</td>

                  {% if couts[unit].control.state %}
                    <td>ВКЛ</td>
                  {% else %}
                    <td>ОТКЛ</td>
                  {% endif %}

                {% else %}
                  <td>Нет</td>
                  <td>Неизвестно</td>
                {% endif %}

              </tr>
            {% endif %}
          {% endfor %}

        </table>
      </div>
    {% endif %}

    {% if temperature %}
      <div class="col_33">
        <h2>Температура</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Величина</th>
          </tr>

          {% for unit in temperature %}
            <tr>
              <td>
                <code>{{ temperature[unit].id }}</code>
              </td>
              <td>{{ temperature[unit].description }}</td>
              <td>{{ temperature[unit].state }}</td>
            </tr>
          {% endfor %}

        </table>
      </div>
    {% endif %}

    {% if locking %}
      <div class="col-25">
        <h2>Блокировка выходов</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Состояние</th>
          </tr>

          <tr>
            <td>
              <code>{{ locking.id }}</code>
            </td>
            <td>{{ locking.description }}</td>
            
            {% if locking.state %}
              <td>ВКЛ</td>
            {% else %}
              <td>ОТКЛ</td>
            {% endif %}
            
          </tr>
          
        </table>
      </div>
    {% endif %}

    {% if voltage %}
      <div class="col-33">
        <h2>Электропитание</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Состояние</th>
          </tr>

          <tr>
            <td>
              <code>{{ voltage.id }}</code>
            </td>
            <td>{{ voltage.description }}</td>
            
            {% if voltage.state %}
              <td>Напряжение в норме</td>
            {% else %}
              <td>Проблемы с напряжением!</td>
            {% endif %}
            
          </tr>
          
        </table>
      </div>
    {% endif %}

  </article>
{% endblock %}
