{% extends "base.html" %}

{% block main_content %}
  <article class="article clearfix">
    <div class="col_100">
      <h1>Сведения</h1>

      {% if device %}
        <p>{{ device.description }}</p>
      {% endif %}

    </div>

    {% if inputs %}
      <div class="col_50">
        <h2>Входные рецепторы</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Состояние</th>
          </tr>

          {% for unit in inputs %}
            <tr>
              <td>
                <code>{{ inputs[unit].id }}</code>
              </td>
              <td>{{ inputs[unit].description }}</td>

              {% if inputs[unit].state %}
                <td>ВКЛ</td>
              {% else %}
                <td>ОТКЛ</td>
              {% endif %}

            </tr>
          {% endfor %}

        </table>
      </div>
    {% endif %}

    {% if complects %}
      <div class="col_50">
        <h2>Комплекты</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Гнездо под контролем</th>
            <th>Состояние гнезда</th>
          </tr>

          {% for unit in complects %}
            <tr>
              <td>
                <code>{{ complects[unit].id }}</code>
              </td>
              <td>{{ complects[unit].control.description }}</td>

              {% if complects[unit].control.state %}
                <td>Да</td>

                {% if complects[unit].socket.state %}
                  <td>Активно</td>
                {% else %}
                  <td>Неактивно</td>
                {% endif %}

              {% else %}
                <td>Нет</td>
                <td>Неизвестно</td>
              {% endif %}

            </tr>
          {% endfor %}

        </table>
      </div>
    {% endif %}

    {% if temperature %}
      <div class="col_50">
        <h2>Температура</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Величина</th>
          </tr>

          {% for unit in temperature %}
            <tr>
              <td>
                <code>{{ temperature[unit].id }}</code>
              </td>
              <td>{{ temperature[unit].description }}</td>
              <td>{{ temperature[unit].state }}</td>
            </tr>
          {% endfor %}

        </table>
      </div>
    {% endif %}

    {% if misc %}
      <div class="col-50">
        <h2>Питание</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Состояние</th>
          </tr>

          {% for unit in misc %}
            <tr>
              <td>
                <code>{{ misc[unit].id }}</code>
              </td>
              <td>{{ misc[unit].description }}</td>
              
              {% if misc[unit].state %}
                <td>Напряжение в норме</td>
              {% else %}
                <td>Проблемы с питанием!</td>
              {% endif %}
              
            </tr>
          {% endfor %}
          
        </table>
      </div>
    {% endif %}

  </article>
{% endblock %}
