{% extends "base.html" %}

{% block main_content %}
  <article class="clearfix">
    <div class="hero col_100"><h1>Управление устройством</h1></div>

    <div class="col_50">
      <h2 class="info">Температура</h2>
      <form class="form">
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Величина</th>
          </tr>

          {% for unit in temperature %}
            <tr>
              <td>
                <code>{{ temperature[unit].id }}</code>
              </td>
              <td>{{ temperature[unit].description }}</td>
              <td>{{ temperature[unit].state }}</td>
            </tr>
          {% endfor %}

        </table>
 
        <button>Обновить показатели</button>
    </div>

    <div class="col_50">
      <h2>Контроль над гнёздами</h2>
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Описание</th>
          <th>Состояние</th>
          <th>Действие</th>
        </tr>

        {% for unit in complects %}
          <tr>
            <td>
              <code>{{ complects[unit].control.id }}</code>
            </td>
            <td>{{ complects[unit].control.description }}</td>

            {% if complects[unit].socket.state %}
              <td>Включён</td>
              <td>
                <button>
                  <a href="/management/{{ unit }}/off">Отключить</a>
                </button>
              </td>
            {% else %}
              <td>Отключён</td>
              <td>
                <button>
                  <a href="/management/{{ unit }}/on">Включить</a>
                </button>
              </td>
            {% endif %}
            
          </tr>
        {% endfor %}

      </table>
    </div>
  </article>
{% endblock %}
