{% extends "base.html" %}

{% block main_content %}
  <article class="clearfix">
    <div class="hero col_100"><h1>Управление устройством</h1></div>

    <div class="col_33">
      <h2 class="info">Температура</h2>
      <form class="form">
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Описание</th>
            <th>Величина</th>
          </tr>

          {% for unit in temperature %}
            <tr>
              <td>
                <code>{{ temperature[unit].id }}</code>
              </td>
              <td>{{ temperature[unit].description }}</td>
              <td>{{ temperature[unit].state }}</td>
            </tr>
          {% endfor %}

        </table>
 
        <button>Обновить показатели</button>
    </div>

    <div class="col_33">
      <h2>Выходы</h2>
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Описание</th>
          <th>Состояние</th>
          <th>Действие</th>
        </tr>

        {% for unit in couts %}
          {% if unit.startswith('out') %}
            <tr>
              <td>
                <code>{{ couts[unit].id }}</code>
              </td>
              <td>{{ couts[unit].description }}</td>

              {% if couts[unit].state %}
                <td>Включён</td>
                <td>
                  <button>
                    <a href="/management/{{ couts[unit].id }}/off">
                      Отключить
                    </a>
                  </button>
                </td>
              {% else %}
                <td>Отключён</td>
                <td>
                  <button>
                    <a href="/management/{{ couts[unit].id }}/on">
                      Включить
                    </a>
                  </button>
                </td>
              {% endif %}
              
            </tr>
          {% endif %}
        {% endfor %}

      </table>
    </div>
  </article>
{% endblock %}
