{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon" />
    </head>

    <body class="app">

        {% block content %}{% endblock content %}

        <script src="{% static 'jquery.js' %}"></script>
        <script src="{% static 'bootstrap.min.js' %}"></script>
        <script src="{% static 'bundle.js' %}"></script>
        <script src="{% static 'highcharts.js' %}"></script>
    </body>
</html>