{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>{{ page.title }}</title>
        <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon" />
    </head>

    <body class="app">
        <div class="container">
            <h4 class="c-grey-900 mT-10 mB-30">{{ page.title }}</h4>
            {% block content %}{% endblock content %}
        </div>
        <script src="{% static 'jquery.js' %}"></script>
        <script src="{% static 'bootstrap.min.js' %}"></script>
        <script src="{% static 'pretty-json-min.js' %}"></script>
    </body>
</html>