{% extends "base.html" %}

{% block content %}
 <div class="container">
   <header class="header clearfix">
      <div class="logo">BANKA
      {% if base %}
          <p><code>ID: {{base.id}}</code> </p>
          {% endif %}
      </div>
      <nav class="menu_main">
         <ul>
         <li class="active"><a href="/">Home</a></li>
            <li> <a href="#">About</a></li>
            <li><a href="#">Конфигурация</a></li>
            <li><a href="#">Журнал</a></li>
         </ul>
      </nav>
   </header>
   <div class="info">
      <article class="hero clearfix">
        <div class="col_100">
          <h1>Сведения</h1>
          {% if base %}
          <p>{{base.description}}</p>
          {% endif %}
        </div>
      </article>
   </div>
   <article class="article clearfix">
   <div class="col_33">
      <h2>Температура</h2>
      <table class="table">
         <tr>
           <th>ID</th>
           <th>Описание</th>
           <th>Величина</th>
           <th>Действие</th>
         </tr>
         {% for id in tdata %}
         <tr>
            <td><code>{{ tdata[id].ident }}</code></td>
            <td>{{ tdata[id].description }}</td>
            <td>{{ tdata[id].temperature }} °C</td>
            <td><a href="/{{id}}/getit">Обновить</a></td>
         </tr>
         {% endfor %}
      </table>
   </div>
   <div class="col_33">
      <h2>Розетки</h2>
      <table class="table">
         <tr>
           <th>ID</th>
           <th>Описание</th>
           <th>Состояние</th>
           <th>Действие</th>
         </tr>
         {% for id in irons %}
         <tr>
            <td><code>{{ irons[id].ident }}</code></td>
            <td>{{ irons[id].description }}</td>
            {% if irons[id].state == true %}
            <td>ВКЛ</td>
            <td><a href="/{{id}}/off">ОТКЛ</a></td>
            {% else %}
            <td>ОТКЛ</td>
            <td><a href="/{{id}}/on">ВКЛ</a></td>
            {% endif %}
         </tr>
         {% endfor %}
      </table>
   </div>
   <div class="col_33">
      {% if message %}
      <!--p class="message">{{ message }} <code>.message</code></p-->
      <p class="success"> {{ message }}</p>
      {% endif %}
   </div>
</div>
{% endblock %}
